<h1>
    <% if(dayOfWeek===0 || dayOfWeek===6) { %>
        Hey! it's the weekend, it's time to have some fun!
        <% } else { %>
            Hey! It's a weekday, time to work hard!
            <% } %>
</h1>